/* Mini Reset CSS */

*
{
	margin: 0;
	padding: 0;
}

/* CSS Mobiles */

body
{
	background: url("../images/Astronaute.jpg") no-repeat center center fixed;
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.saisie
{
	margin-top: 50px;
	margin: 0 auto;
	width: 100%;
}

#adresse
{
	width: 400px;
	border-radius: 20px;
}

#envoyer
{
	color: #FFFFFF;
	margin-top: 5px;
	margin-left: 100px;
	border-radius: 20px;
	width: 200px;
}

#maCarte
{
	width: 400px;
	height: 500px;
	margin: 0 auto;
	margin-top: 30px;
}

.copyright
{
	color: #FFFFFF;
	text-align: center;
}

@media screen and (min-width: 400px)
{
	.saisie
	{
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	#maCarte
	{
		width: 90%;
		height: 300px;
	}
}

/* CSS Tablettes */

@media screen and (min-width: 768px)
{
	.saisie
	{
		margin-top: 30px;
	}

	#maCarte
	{
		width: 700px;
		height: 400px;
	}
}

/* CSS Laptops */

@media screen and (min-width: 992px)
{
	#maCarte
	{
		width: 800px;
		height: 500px;
	}
}

/* CSS Ordinateurs */

@media screen and (min-width: 1200px)
{
	#maCarte
	{
		width: 1000px;
		height: 500px;
	}
}

/* CSS Ordinateurs Extra-larges */

@media screen and (min-width: 1400px)
{
	#maCarte
	{
		width: 1200px;
		height: 600px;
	}
}