/* Mini Reset CSS */

*
{
	margin: 0;
	padding: 0;
}

/* CSS Mobiles */

label
{
	color: white;
	/* pour le js */
}

body
{
	background: url("../images/Astronaute.jpg") no-repeat center center fixed;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.infoMap
{
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	margin: 0 auto;
}

.saisie
{
	margin-top: 30px !important;
	margin: 0 auto;
}

#adresse
{
	width: 400px;
	border-radius: 20px;
}

#envoyer
{
	color: #FFFFFF;
	margin-top: 5px;
	margin-left: 100px;
	border-radius: 20px;
	width: 200px;
}

.table
{
	width: 400px !important;
	margin: 0 auto;
	margin-top: 30px;
}

thead tr
{
	background-color: #FFFFFF;
}

#maCarte
{
	width: 90% !important;
	height: 400px;
	margin: 0 auto;
	margin-top: 30px;
}

.copyright
{
	color: #FFFFFF;
	text-align: center;
}

@media screen and (min-width: 400px)
{
	.infoMap
	{
		width: 100%;
	}
}

/* CSS Tablettes */

@media screen and (min-width: 768px)
{
	.saisie
	{
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.table
	{
		margin-right: 50px;
	}

	.infoMap
	{
		flex-direction: row;
	}

	#maCarte
	{
		width: 650px !important;
		margin-left: 10px;
		margin-right: 10px;
	}
}

/* CSS Laptops */

@media screen and (min-width: 992px)
{
	#maCarte
	{
		width: 800px !important;
	}
}

/* CSS Ordinateurs */

@media screen and (min-width: 1200px)
{
	#maCarte
	{
		width: 800px !important;
		height: 500px;
	}
}

/* CSS Ordinateurs Extra-larges */

@media screen and (min-width: 1400px)
{
	#maCarte
	{
		width: 1000px !important;
		height: 700px;
	}
}